<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Signup</title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/navbar') %>
    
    <div class=" container mt-5 border border-secondary rounded-4 p-4">
        <p class="fs-3 text-center">Signin to your account</p>
    <form action="/user/signin" method="POST" >
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="useremail" aria-describedby="signinEmail" required>
      
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="userpassword" required>
      </div>
      <% if (locals.error) { %>
            <div class="--bs-danger mb-3"><%=  error%></div>
      <% } %>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>