<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Signup</title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/navbar') %>
    
    <div class=" container mt-5 border border-secondary rounded-4 p-4">
        <h2 class="text-center">Signup</h2>
        <p class="text-center">Signup to create an account</p>
    <form action="/user/signup" method="POST" >
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="useremail" aria-describedby="emailHelp">
       
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Full Name</label>
        <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="userpassword">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>